* {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.nav {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: rgb(29, 29, 29);
    position: relative;
}

.top {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.logos {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}